/* Change the margin of the pop and width*/
.cpn-model-popup {
  top: 10px !important;
  width: 33% !important;
}

/* Css for PopUp */
.cpn-model-popup .ui-widget-header,
.cpn-model-popup .ui-widget-content {
  border: none !important;
}

/* Change the width of the Model PopUp */
.cpn-model-popup .ui-dialog-title {
  width: 94%;
}

/* Css for the Button set of popup */
.cpn-model-popup .ui-dialog-buttonset {
  float: none !important;
}

/* Remove unwanted fields from the data*/
.cpn-model-popup .cpn_message_div {
  display: none !important;
}

/* Css for the Allow Button of popup */
.cpn-model-popup .button--allow {
  text-decoration: none !important;
  font-weight: bold !important;
  display: inline-block !important;
  color: #fff !important;
  text-transform: uppercase !important;
  background: #f5821f !important;
  text-align: center !important;
  line-height: 38px !important;
  height: 34px !important;
  font-size: 13px !important;
  width: 80px !important;
  margin-left: 28% !important;
}

/* Css for the Cancel Button of popup */
.cpn-model-popup .button--cancel {
  text-decoration: none !important;
  font-weight: bold !important;
  display: inline-block !important;
  color: #fff !important;
  text-transform: uppercase !important;
  background: #7d7d7d !important;
  text-align: center !important;
  line-height: 38px !important;
  height: 34px !important;
  font-size: 13px !important;
  width: 80px !important;
  margin-left: 0% !important;
}
